body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgb(105, 65, 74);
    color: #fff;
    font-size: larger;
}

h1 {
    color: #007BFF;
}

button {
    background-color: #28A745;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #218838;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}